* {
	margin: 0;
	padding: 0;
}

/* TILES */

body {
    background-color: #252525;
}

#container {
    display: block;
    width: 1270px;
    margin: auto;
    background-color: #252525;
}

header {
    position: relative;
    width: 1250px;
    height: 80px;
    margin: 10px 10px 0 10px;
    background-image: url(images/imglogo.jpg);
    background-repeat: no-repeat;
    background-position: 5px center;
    background-color: #37bbd2;
}

header h1 {
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0 0 0 88px;
    line-height: 80px;
}

header p {
    position: absolute;
    top: 30px;
    right: 20px;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/* BACKGROUNDS */
#img1 {
    background-image: url(images/img1.jpg);
}

#img2 {
    background-image: url(images/img2.jpg);
}

#img3 {
    background-image: url(images/img3.jpg);
}

#img4 {
    background-image: url(images/img4.jpg);
}

#img5 {
    background-image: url(images/img5.jpg);
}

#img6 {
    background-image: url(images/img6.jpg);
}

#img7 {
    background-image: url(images/img7.jpg);
}

#img8 {
    background-image: url(images/img8.jpg);
}

#img9 {
    background-image: url(images/img9.jpg);
}

#img10 {
    background-image: url(images/img10.jpg);
}

#img11 {
    background-image: url(images/img11.jpg);
}

.arrow {
    position: absolute;
    right: 18px;
    bottom: 12px;
    width: 17px;
    height: 15px;
    background-image: url(images/arrow.png);
}

.arrow-black {
    position: absolute;
    right: 18px;
    bottom: 12px;
    width: 17px;
    height: 15px;
    background-image: url(images/arrow_black.png);
}
/* END DEFINITION DES BACKGROUNDS */

div {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
    background-repeat: no-repeat;
    background-position: center center;
}

.no-m {
	margin: 0;
}

.box-small {
    position: relative;
	width: 200px;
	height: 200px;
}

.box-medium {
    position: relative;
	width: 410px;
	height: 200px;
}

.box-large {
    position: relative;
	width: 410px;
	height: 410px;
}



/* 1er bloc */

#tile1 {
	width: 420px;
	height: 626px;
	padding: 10px 0 10px 10px;
	margin: 0;
	background-color: #252525;
}

#tile1 .bl {
	margin: 10px 5px 0 0;
}

#tile1 .br {
	margin: 10px 0 0 5px;
}

/* 2eme bloc */

#tile2 {
	width: 420px;
	height: 626px;
	padding: 10px 0 10px 0;
	margin: 0;
	background-color: #252525;
}

#tile2 .tl {
	margin: 0 5px 10px 0;
}

#tile2 .tr {
	margin: 0 0 10px 5px;
}

/* 3eme bloc */

#tile3 {
    width: 420px;
    height: 626px;
    padding: 10px 0 10px 0;
    margin: 0;
    background-color: #252525;
}

#tile3 .tl {
    margin: 10px 5px 10px 0;
}

#tile3 .tr {
    margin: 10px 0 10px 5px;
}

#tile3 .bl {
    margin: 0 5px 0 0;
}

#tile3 .br {
    margin: 0 0 0 5px;
}

/* COLORS */

.white01 {
    background-color: #f5f5f5;
}

.pink01 {
    background-color: #fa8a7e;
}

.purple01 {
    background-color: #b483ff;
}

.green01 {
    background-color: #b7f6c9;
}

.yellow01 {
    background-color: #fbff86;
}

.blue01 {
    background-color: #7efeff;
}

/* PARAGRAPHES DANS LES SECTIONS */

.t-abs {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color: white;
}

.t-abs p {
    margin: 0 0 0 20px;
    font-weight: 700;
}

.white01 .t-abs {
    background-color: #999999;
}

.pink01 .t-abs {
    background-color: #f8504d;
}

.purple01 .t-abs {
    background-color: #7f53c6;
}

.green01 .t-abs {
    color: #282828;
    background-color: #35eab5;
}

.yellow01 .t-abs {
    color: #282828;
    background-color: #fbed1a;
}

.blue01 .t-abs {
    background-color: #3ea8f6;
}

