* {
	margin: 0;
	padding: 0;
}

/* TILES */

div {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
}

.no-m {
	margin: 0;
}

/* 1er bloc */

#tile1 {
	width: 420px;
	height: 626px;
	padding: 10px 0 10px 10px;
	margin: 0;
	background-color: #252525;
}

.l1h1 {
	width: 200px;
	height: 200px;
}

.l2h1 {
	width: 400px;
	height: 200px;
	margin: 0 0 10px 0;
}

.l2h2 {
	width: 410px;
	height: 410px;
}

#tile1 .bl {
	margin: 10px 5px 0 0;
}

#tile1 .br {
	margin: 10px 0 0 5px;
}

/* 2eme bloc */

#tile2 {
	width: 420px;
	height: 626px;
	padding: 10px 0 10px 0;
	margin: 0;
	background-color: #252525;
}

#tile2 .tl {
	margin: 0 5px 10px 0;
}

#tile2 .tr {
	margin: 0 0 10px 5px;
}

/* COLORS */

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}

.purple {
	background-color: purple;
}
